

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-lg-screen) {

    

}

@media screen and (max-width: $desk-md-screen) {

    .md-mb10 {
        margin-bottom: 10px;
    }

    .md-mb20 {
        margin-bottom: 20px;
    }

    .md-mb30 {
        margin-bottom: 30px;
    }

    .md-mb40 {
        margin-bottom: 40px;
    }

    .md-mb50 {
        margin-bottom: 50px !important;
    }

    .md-mb80 {
        margin-bottom: 80px;
    }

    .md-no-mrg{
        margin: 0 !important;
    }

    .md-pb10 {
        padding-bottom: 10px;
    }

    .md-pb20 {
        padding-bottom: 20px;
    }

    .md-pb30 {
        padding-bottom: 30px;
    }

    .md-pb40 {
        padding-bottom: 40px;
    }

    .md-pb50 {
        padding-bottom: 50px;
    }

    .md-pb60 {
        padding-bottom: 60px;
    }

    .md-pb70 {
        padding-bottom: 70px;
    }

    .md-pb80 {
        padding-bottom: 80px;
    }

    .md-pt80 {
        padding-top: 80px !important;
    }

    .md-no-pad{
        padding: 0 !important;
    }

    .md-center{
        text-align: center !important;
    }

    .order2 {
        order: 2 !important;
    }

    .order1 {
        order: 1 !important;
    }

    .justify-end{
        justify-content: flex-start !important;

        .vew-all{
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls{
            margin-top: 30px;
        }

        .ml-auto{
            margin-left: 0;
            margin-top: 30px;
        }
    }

    .md-hide{
        display: none;
    }

    .to-out .swiper-container{
        overflow: hidden;
        clip-path: none;
    }

    .row.md-marg{
        margin-left: -15px;
        margin-right: -15px;

        > *{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .loader-wrap svg{
        width: 200vw;
        left: -50vw;
    }

    body{
        padding: 0 20px;
    }

    main{
        padding: 0;
        max-width: 100%;
    }

    h1{
        font-size: 40px;
    }

    .fz-55{
        font-size: 35px !important;
    }

    .butn-presv .skew{
        transform: none;
    }

    .go-more{
        justify-content: flex-start !important;
        margin-top: 30px;
    }

    .sec-box{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .navbar{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
        background: #131313;
        margin-top: 0px;
        border-bottom: 2px solid rgba(255,255,255,.2);
        display: none;
        z-index: 4;
        
        .navbar-nav{
            display: block !important;
            width: 100%;
            margin-left: 0;
            background: transparent;
            border-radius: 0;
            text-align: center;

            li{
                display: block;
                font-size: 18px !important;
            }

            &:after{
                display: none;
            }
        }
    }

    .nav-top{

        .social,
        .info{
            display: none;
        }

        .navbar{
            padding: 40px 0;
            top: 40px;
        }

        .nav-butn{
            display: block !important;
        }
    }

    .contact-fixed-butn,
    .intro-profile .content:after{
        display: none;
    }

    .intro-profile .box-img{
        border-radius: 15px 15px 0 0;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .intro-profile .content{
        border-radius: 0 0 15px 15px;
    }

    .intro-profile .content .stauts {

        .mr-40{
            margin-right: 20px !important;
        }

        h2{
            font-size: 50px;
        }
    }

    .awards .award-item{
        height: auto;
    }

    .testimonials{

        &:after{
            left: 40px;
        }

        .pad-left{
            padding-left: 40px;
        }

        .icon-qoute{
            font-size: 140px;
            top: -30px;
        }

        .icon-img-60{
            display: none;
        }
    }

    .price .item .type{
        min-width: calc(100% - 240px);
        margin: auto;
        text-align: center;
    }

    .contact:after{
        background-size: cover;
    }
}

@media screen and (max-width: $tablet-sm-screen) {

    .sm-mb10 {
        margin-bottom: 10px;
    }

    .sm-mb20 {
        margin-bottom: 20px;
    }

    .sm-mb30 {
        margin-bottom: 30px;
    }

    .sm-mb40 {
        margin-bottom: 40px;
    }

    .sm-mb50 {
        margin-bottom: 50px;
    }

    .sm-mb80 {
        margin-bottom: 80px;
    }

    .sm-pb10 {
        padding-bottom: 10px;
    }

    .sm-pb20 {
        padding-bottom: 20px;
    }

    .sm-pb30 {
        padding-bottom: 30px;
    }

    .sm-pb40 {
        padding-bottom: 40px;
    }

    .sm-pb50 {
        padding-bottom: 50px;
    }

    .sm-pb60 {
        padding-bottom: 60px;
    }

    .sm-pb70 {
        padding-bottom: 70px;
    }

    .sm-pb80 {
        padding-bottom: 80px;
    }
    
    .sm-hide{
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    .fz-18,
    h6 {
        font-size: 15px !important;
    }

    .fz-50{
        font-size: 30px !important;
    }

    .fz-55{
        font-size: 25px !important;
    }

    .justify-end-sm{
        justify-content: flex-start !important;

        .vew-all{
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls{
            margin-top: 30px;
        }

        .ml-auto{
            margin-left: 0;
            margin-top: 40px;
        }
    }

    .md-padding{
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-title{
        letter-spacing: 1px;

        &.fz-28{
            font-size: 22px !important;
        }
    }

    .loader-wrap .loader-wrap-heading .load-text{
        letter-spacing: 5px;
        font-size: 13px;
    }

    .progress-wrap{
        right: 10px;
        bottom: 20px;
    }

    body{
        padding: 0;
    }

    main{
        padding: 0;
    }

    .sec-box{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .intro-profile .content{
        padding: 80px 15px;
    }

    .intro-profile .box-img{
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro-profile .content h1 .bord{
        padding: 0;
        position: static;
        border: 0;

        i{
            display: none;
        }

        &:before,
        &:after{
            display: none;
        }
    }

    .intro-profile .stauts{

        > .d-flex{
            display: block !important;
        }

        .mr-40{
            margin-right: 0 !important;
            margin-bottom: 30px !important;
        }
    }

    .testimonials{

        &:after{
            left: 0px;
        }

        .pad-left{
            padding-left: 0px;
        }

        .icon-qoute{
            font-size: 100px;
            top: -20px;
        }

        .testim-controls{
            margin-top: 30px;
        }
    }

    .blog .item .cont{
        padding: 40px 20px;
    }

    .main-post{

        .fz-60{
            display: none;
        }

        .post-qoute{
            padding: 30px 15px;

            h6{

                &:before{
                    position: relative;
                    left: 0;
                }
            }
        }

        .info-area{
            display: block;

            .tags{
                margin-bottom: 30px;
            }
        }

        .author-area{

            .flex{
                display: block;
            }

            .author-img{
                margin: 0 0 30px 0;

                .img{
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .next-prv-post{
            display: block;

            .thumb-post{
                margin: 0 !important;
            }

            .text-right{
                text-align: left;
                margin-top: 30px !important;
            }
        }
    }

    .comments-post .item-box{

        .flex{
            display: block;
        }

        .user-img{
            margin: 0 0 15px 0;
        }

        .replay-post{
            margin: 15px 0 0 0;
        }

        &.replayed{
            margin-left: 0;
        }
    }

}

@media screen and (max-width: $mobile-xs-screen) {

   
}

/* ====================== [ End Responsive ] ====================== */