
/* Menu
-----------------------------------------------------------------*/

.nav-top{
	position: relative;
	z-index: 5;

	.container{
		position: relative;

		.nav-butn{
			position: absolute;
			top: 0;
			right: 15px;
			font-size: 25px;
			cursor: pointer;
			display: none;
		}
	}

	.social{

		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 12px;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 50%;
			margin: 0 2px;
			transition: all .4s;

			&:hover{
				background: #fff;
				color: #1d1d1d;
			}
		}
	}

	.navbar{
		margin: 0;
		padding: 0;

		.navbar-nav{
			padding: 0;
			background: transparent;

			&:after{
				display: none;
			}
		}
	}
}

.navbar{
	display: block;
	padding: 0;
	margin-top: 50px;

	.navbar-nav{
		padding: 20px 40px 20px 5px;
		border-radius: 15px 15px 0 0;
		display: flex;
		flex-direction:row;
		width: calc(100% - 80px);
		margin-left: 80px;
		position: relative;

		&:after{
			content: '';
			width: 0;
			height: 0;
			border-bottom: 75px solid $main_bg;
			border-left: 75px solid transparent;
			position: absolute;
			left: -70px;
			bottom: 0;
		}

		.nav-item{
			padding: 10px 15px;
			text-transform: uppercase;
			letter-spacing: .4px;
			font-size: 12px;
		}
	}

}