
/* About
-----------------------------------------------------------------*/

.about{
    
    .cont{

        h1{

            .bord{
                padding: 0 20px;
                border: 1px solid rgba(0,0,0,.1);
                position: relative;

                &:before,
                &:after{
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #000;
                    position: absolute;
                    pointer-events: none;
                }

                &:before{
                    top: -3px;
                    left: -3px;
                }

                &:after{
                    top: -3px;
                    right: -3px;
                }

                i{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    pointer-events: none;

                    &:before,
                    &:after{
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #000;
                        position: absolute;
                    }

                    &:before{
                        bottom: -3px;
                        left: -3px;
                    }
    
                    &:after{
                        bottom: -3px;
                        right: -3px;
                    }
                }
            }
        }
    }

    .stauts{

        h2{
            font-size: 70px;
        }

        p{
            padding-left: 20px;
        }
    }
}