
/* Contact
-----------------------------------------------------------------*/

.contact{
    position: relative;
    overflow: hidden;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../imgs/paper-plane.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: .008;
        pointer-events: none;
    }

    input,
    textarea{
        width: 100%;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        background: transparent;
        padding: 15px;
        transition: all .4s;

        &:focus{
            border-color: #444;
        }
    }

    textarea{
        min-height: 180px;
    }

    button{
        padding: 15px 35px;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(4px);
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        position: relative;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        overflow: hidden;
        transition: all .4s;

        .text{
            position: relative;
            z-index: 4;
        }

        &:hover{
            color: #1d1d1d;

            &:after{
                width: 100%;
            }
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background: var(--maincolor);
            transition: all .4s;
        }
    }
}