
/* Resume
-----------------------------------------------------------------*/

.resume{

    .item{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,.5);

        .date{

            p{
                padding: 5px 15px;
                border-radius: 30px;
                border: 1px solid rgba(0,0,0,.5);
            }
        }

        .arrow{

            svg{
                width: 25px;
                stroke: currentColor;
                fill: currentColor;
            }
        }
    }
}

.skills{

    .item{
        padding: 30px 30px 0;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 10px;
        position: relative;

        .value{
            font-size: 12px;
            padding: 3px 10px;
            border-radius: 30px;
            border: 1px solid rgba(0,0,0,.2);
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .skill-progress {
        height: 3px;
        background-color: rgba(0,0,0,.1);
        position: relative;

        .progres {
            position: absolute;
            height: 100%;
            width: 0;
            top: 0;
            left: 0;
            background-color: #000;
            transition: all 1.5s;
        }
    }
}